/*--- LOGO ---*/

.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.summary > li:first-child {
  height: auto !important; 
}


/*--- Sidebar ---*/

.book .book-summary {
  background: #f1f6f7;
  border-right: none;
}

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #2f5175;
}

/* color when hovering */
.summary a:hover {  
  color: #f16e59 !important;
} 

/* color for active links */
.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #778ca5 !important;
  border-left: solid 5px;
  border-color: #1ca09f;
  padding-left: 11px !important;
}  
